body{
 font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width:768px){
  .header-nav{
    display: none;
  }
}
@media screen and (min-width:769px) and (max-width:992px){
  .header-nav{
    display: none;
  }
}
@media screen and (min-width:993px){
 .hamburger{
   display: none;
 }
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* Parte superiore dell'header */
.header-top{
  line-height: 80px;
  height: 80px;
  position: fixed;
  top:0;
  left:0;
  z-index:1;
  width: 100%;
  background-color: white;
}
.header-nav li{
 display: inline-block;
}
/* Parte superiore dell'header */

/* Parte inferiore dell'header */
.jumbotron{
  background-color: blue;
  margin-top: 80px;
}
.header-box{
  background-color: white;
  border-radius: 5%;
  margin: auto;
  height: 100%;
  width: 100%;
}
/* Parte inferiore dell'header */
