body{
 font-family: 'Open Sans', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.pad{
  padding:30px 0;
}
@media screen and (max-width:768px){
  .header-nav{
    display: none;
  }
  .main-three-box-angle{
    color: lightgrey;
  }
}
@media screen and (min-width:769px) and (max-width:992px){
  .header-nav{
    display: none;
  }
}
@media screen and (min-width:993px){
 .hamburger{
   display: none;
 }
}
/* Parte superiore dell'header */
.header-top{
  line-height: 80px;
  height: 80px;
  position: fixed;
  top:0;
  left:0;
  z-index:1;
  width: 100%;
  background-color: white;
}
.header-nav li{
 display: inline-block;
}
/* Parte superiore dell'header */

/* Parte inferiore dell'header */
.jumbotron{
  background-color: blue;
  margin-top: 80px;
  margin-bottom: 0;
}
.header-box{
  background-color: white;
  border-radius: 5%;
  height: 100%;
  width: 100%;
}
/* Parte inferiore dell'header */

/* Main 1/6 */
.main-one{
  background-color: lightgrey;
  text-align: center;
}
.square{
  height: 100px;
  width: 100px;
  background-color: red;
  margin: auto;
}
/* Main 1/6 */

/* Main 2/6 */
.main-two-text{
  text-align: center;
}
.main-two-list{
 padding-left: 8px;
}
.main-two-list li{
  border-left: 1px solid lightgrey;
  padding-left: 5px;
  padding-top: 15px;
}
/* Main 2/6 */

/* Main 3/6 */
.main-three{
  text-align: center;
  background-color: lightgrey;
}
.main-three-box{
  background-color: blue;
  height: 200px;
  width: 200px;
  margin: auto;
  display: inline-block;
  margin-top:50px;
}
.main-three-box-angle{
  font-size: 40px;
  position: relative;
  bottom:80px;
  padding: 0 10px;
}
.main-three-text{
  padding-top:15px;
}
/* Main 3/6 */

/* Main 4/6 */
.main-four h2{
  text-align: center;
}
/* Main 4/6 */
