body{
 font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width:768px) {
 .hamburger{
   text-align: right;
 }
}
@media screen and (min-width:768px) and (max-width:992px){
  .hamburger{
    text-align: right;
  }
}
@media screen and (min-width:992px){
 .hamburger{
   display: none;
   text-align: right;
 }
}
/* parte superiore dell'header */
.header-top{
  line-height: 80px;
  height: 80px;
  position: fixed;
  top:0;
  left:0;
  index:1;
  width: 100%;
  background-color: white;
}
/* parte superiore dell'header */
